<html>
  <body>
    <h1>Adicionar seriado</h1>
    <form method="POST" action="/">
      <input type="text" name="titulo">
      <input type="submit" value="adicionar">
    </form>

    <!-– percorrem todos os seriados que passamos do back-end e exibem cada título em um novo parágrafo HTML -->
    <h1>Seriados</h1>
    <table>
      {% for seriado in seriados %}
        <tr>
          <td>
            {{seriado.titulo}}
          </td>
          <td>
            <form method="POST" action="./atualizar" style="display: inline">
              <input type="hidden" value="{{seriado.titulo}}" name="velhoTitulo">
              <input type="text" value="{{seriado.titulo}}" name="novoTitulo">
              <input type="submit" value="atualizar">
            </form>
          </td>
          <td>
            <form method="POST" action="./deletar" style="display: inline">
              <input type="hidden" value="{{seriado.titulo}}" name="titulo">
              <input type="submit" value="deletar">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>



